* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    color: #F15B22;
}

.btn {
    background-color: #F15B22;
    color: #FFFFFF;
    border: 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}

.header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}

.header-info {
    display: flex;
    margin: 60px 100px;
    justify-content: right;
}

.left-header {
    width: 45%;
}

.right-header {
    width: 55%;
    text-align: right;
}

.right-header h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 24px;
}

.right-header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 24px;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/*Section  */
main section {
    margin: 130px 130px;
}

.first-section {
    display: flex;
}

.first-section-div {
    width: 50%;
}

.first-section-div img {
    width: 80%;
}

.first-section-div h2 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.first-section-div p {
    line-height: 26px;
    margin-bottom: 16px;
}

.first-section-div ul {
    list-style: none;
    margin-left: -38px;
    line-height: 25px;
}

.first-section-div ul li img {
    width: 4%;
}

/*My plans Section*/
.my-plan-section {
    text-align: center;
}

.my-plan-title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
}

.aim-container {
    display: flex;
    justify-content: space-around;
}

.aim-box {
    width: 80%;
}

.aim-box img {
    width: 30%;
}

.aim-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.aim-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

/* Mindset Section */
.mindset-div {
    width: auto;
    position: relative;
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100%;
}

.mindset-div img {
    width: 100%;
}

.over-image {
    position: absolute;
    top: 45px;
    left: 50px;
}

.over-image h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    color: white;
}

.btn-invert {
    color: #F15B22;
    background-color: #FFFFFF;
    border: 0;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
}

/* Footer Section */
footer {
    background-color: black;
    color: white;
}

.footer-section {
    display: flex;
    margin: 0 130px;
    padding-top: 60px;
    padding-bottom: 45px;
}

.footer-section h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.footer-desc {
    line-height: 26px;
}

.footer-div-left {
    width: 50%;
}

.footer-div-middle {
    width: 20%;
}

.footer-div-right {
    width: 30%;
}

.contact {
    line-height: 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer-div-right h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 20px;
}
.footer-form{
    background-color: black;
    color: #F3F3F3;
    padding-top: 13px;
    padding-left: 20px;
    margin-bottom: 10px;
}